@import url("normalize.css");

body, html {
  color: #828282;
  line-height: 145%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hr {
  border-top: 1px solid #eee;
}

#menu {
  height: 36px;
  width: 100%;
  margin: 3px auto;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float: left;
  }

#menu a, #menu a:visited, #menu a:active {
  color: #828282;
  text-decoration: none;
  padding: 0 10px;
  height: 100%;
  border-top: 3px solid #fff;
}

#menu a:hover {
  color: #5d6e7e;
  border-bottom: 12px solid #f78b0e;
}

li#logo em {
  display: none;
}

li#logo {
  background-image: url('../img/logo.png');
  width: 172px;
  height: 21px;
  margin-right: 50px;
}

#intro {
  width: 100%;
  background-color: #5d6e7e;
  color: #eee;
  padding: 15px 0;
  text-align: justify;
}

#intro h1, #intro h2, #intro h3 {
  color: #fff;
}

#intro h1, #intro h2, #intro h3 {
  color: #fff;
}

#start {
  padding: 0 0 24px 0;
}

#start h1, #start h2 {
  color: #f78b0e;
}

#start h3 {
  color: #666;
}

#start a, #start a:visited, #start a:active {
  color: #f78b02;
  text-decoration: none;
}

#footer {
  background-color: #828282;
  color: #eee;
  padding: 0 0 8px 0;
}

#footer ul {
  float: left;
  margin: 0;
  padding: 10px;
  width: 30%;
  list-style: none;
}

#footer ul li {
  display: inline-block;
  width: 100%;
}

#footer ul li h5 {
  color: #fff;
  margin: 20px 0 8px 0;
  padding: 0;
}

#footer ul li a {
  font-size: 14px;
}

#footer a, #footer a:visited, #footer a:active {
  color: #eee;
  text-decoration: none;
}

#footer em {
  font-size: 10px;
  display: block;
  max-width: 400px;
}

#footer hr {
  border: 0;
  height: 1px;
  background: #f78b0e;
  display: block;
  width: 100%;
}

.copyleft {
  float: right;
}
