# Site settings
title: Ehcache
email: tc-oss@softwareag.com
description: Java's most widely used cache.
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://www.ehcache.org" # the base hostname & protocol for your site
twitter_username: ehcache
github_username:  ehcache
linkedin_username: terracotta
facebook_username:  Terracotta
disqus_shortname: ehcache

exclude: [default.gems, README.md]

# Build settings
markdown: kramdown


gems:
  - jekyll-asciidoc
  - jekyll-sitemap


asciidoctor:
  attributes:
    - hardbreaks!
    - source-highlighter=prettify
#    - source-highlighter=pygments
    - pygments-css=style
    - icons=font
    - sourcedir=/_eh3
    - sourcedir31=/_eh31
    - imagesdir=images
    - sectanchors
    - idprefix
    - idseparator=-

documentation:
    ehcache:
      current: "3.1"
      future: "3.2"

defaults:
  -
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      type: "drafts"
    values:
      layout: "post"
  -
    scope:
      path: "community"
      type: "pages"
    values:
      layout: "community_page"
  -
    scope:
      path: "documentation"
      type: "pages"
    values:
      layout: "docs_page"
  -
    scope:
      path: "documentation/2.7"
      type: "pages"
    values:
      layout: "docs2x_page"
      ehc_version: "2.7"
      ehc_javadoc_version: "2.7.6"
  -
    scope:
      path: "documentation/2.8"
      type: "pages"
    values:
      layout: "docs2x_page"
      ehc_version: "2.8"
      ehc_javadoc_version: "2.8.5"
  -
        scope:
          path: "documentation/2.10"
          type: "pages"
        values:
          layout: "docs2x_page"
          ehc_version: "2.10"
          ehc_javadoc_version: "2.10"
  -

    scope:
      path: "documentation/3.0"
      type: "pages"
    values:
      layout: "docs3x_page"
      ehc_version: "3.0"
      ehc_javadoc_version: "3.0.3"
      ehc_checkout_dir_var: "sourcedir"
  -
    scope:
      path: "documentation/3.1"
      type: "pages"
    values:
      layout: "docs3x_page"
      ehc_version: "3.1"
      ehc_javadoc_version: "3.1.2"
      ehc_checkout_dir_var: "sourcedir31"
