.List_1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.List_1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.Numbered_1 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.Numbered_1 > span.WebWorks_Number > *
{
  text-indent: 0;
}

.List_2 > span.WebWorks_Number
{
  text-indent: -18pt;
}

.List_2 > span.WebWorks_Number > *
{
  text-indent: 0;
}

