
      <h1>Getting started with Ehcache 3</h1>

      You can introduce caching to your Java application quite easily with Ehcache, either using its new, powerful API
      or using the <code>javax.cache</code> API as defined in the JSR-107 specification.

      <h2>Using the core Ehcache v3 API</h2>

      Ehcache 3 has a streamlined, modernized type-safe API (and configuration) that will greatly improve your coding
      experience when compared to Ehcache 2.x.

      <h3><a name="jars"></a>Downloading the jars</h3>

      You can download the jar directly from <a href="https://github.com/ehcache/ehcache3/releases">github</a> or get it from Maven Central:

      <pre class="prettyprint highlight"><code class="language-xml" data-lang="xml">    &lt;dependency&gt;
      &lt;groupId&gt;org.ehcache&lt;/groupId&gt;
      &lt;artifactId&gt;ehcache&lt;/artifactId&gt;
      &lt;version&gt;3.0.1&lt;/version&gt;
    &lt;/dependency&gt;      </code></pre>

      <h3>Coding to the Ehcache 3 API</h3>

      <pre class="prettyprint highlight"><code class="language-java" data-lang="java">
      CacheManager cacheManager = CacheManagerBuilder.newCacheManagerBuilder()
          .withCache("preConfigured",
               CacheConfigurationBuilder.newCacheConfigurationBuilder(Long.class, String.class,
                                              ResourcePoolsBuilder.heap(100))
               .build())
          .build(true);

      Cache&lt;Long, String&gt; preConfigured
          = cacheManager.getCache("preConfigured", Long.class, String.class);

      Cache&lt;Long, String&gt; myCache = cacheManager.createCache("myCache",
          CacheConfigurationBuilder.newCacheConfigurationBuilder(Long.class, String.class,
                                        ResourcePoolsBuilder.heap(100)).build());

      myCache.put(1L, "da one!");
      String value = myCache.get(1L);

      cacheManager.close();

      </code></pre>

      <h2 id="using_jsr107_api">Using the JSR-107 API</h2>

      <h3>Downloading the jars</h3>

      You'll need the Ehcache distribution as mentioned <a href="#jars">above</a>, you'll also require the actual JSR-107 API:

      <pre class="prettyprint highlight"><code class="language-xml" data-lang="xml">    &lt;dependency>
      &lt;groupId>javax.cache&lt;/groupId>
      &lt;artifactId>cache-api&lt;/artifactId>
      &lt;version>1.0.0&lt;/version>
    &lt;/dependency></code></pre>

     <h2>Not quite ready yet?</h2>

     Read the <a href="/documentation/3.0">user documentation</a> for everything you've been wondering about the new API!
