<h2>Ehcache 3 : Milestone 5 reached - All features are in!</h2>

      Milestone 5 comes with over nearly 20 issues closed and includes new features, such as:
      <ul>
        <li>Support for byte sizing on heap,</li>
        <li>Reworked cache event listener system,</li>
        <li>Many improvements in configuration builders,</li>
        <li>Alignment at the XML configuration level to offer better consistency,</li>
        <li><a href="https://github.com/ehcache/ehcache3/issues?q=milestone%3A%22Milestone+5%22">See all closed issues</a></li>
      </ul>
      "Official" builds of m5 are available on the project's GitHub <a href="https://github.com/ehcache/ehcache3/releases/tag/v3.0.0.m5">release page</a> or from Maven Central - see below.
