<h2>Ehcache 3 : Release Candidate 3 reached - Performance and documentation!</h2>

      Release candidate 3 comes with around 15 issues closed and includes:
      <ul>
      	<li>A major change that makes caches have no default size, which impacts <code>CacheConfigurationBuilder</code> API and XML</li>
      	<li>a few extra final tweaks on public API,</li>
        <li>more performance and documentation improvements,</li>
        <li><a href="https://github.com/ehcache/ehcache3/issues?q=milestone%3ARC3+is%3Aclosed">See all closed issues</a></li>
      </ul>
      "Official" builds of rc3 are available on the project's GitHub <a href="https://github.com/ehcache/ehcache3/releases/tag/v3.0.0.rc3">release page</a> or from Maven Central - see below.
