<h2>Ehcache 3 has been officially released!</h2>
  This new major version of Ehcache offers the following
  <ul>
      <li>Revamped API that leverages Java generics and simplifies Cache interactions,</li>
      <li>Full compatibility with javax.cache API (JSR-107),</li>
      <li>Offheap storage capabilities, including offheap only caches,</li>
      <li>Improved performance over Ehcache 2.x,</li>
      <li>Out of the box Spring Caching integration thanks to the javax.cache support,</li>
      <li>And many more ...</li>
  </ul>
  "Official" builds of 3.0 are available on the project's GitHub <a href="https://github.com/ehcache/ehcache3/releases/tag/v3.0.0">release page</a> or from Maven Central - see below.
