---
title: Ehcache !DOC_VERSION! Documentation
no_title_on_main_layout: true
layout: default
active_menu_id: ehc_mnu_docs
---


<br/>

<div class="container-fluid">


  <div class="row row-offcanvas row-offcanvas-left">

    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav">
          <li class="submenu"><a href="index.html">Docs Overview</a></li>
        </ul>

        Basic topics:
        <ul class="nav">
          <li class="submenu"><a href="getting-started.html">Getting Started</a></li>
          <li class="submenu"><a href="xml.html">XML Configuration</a></li>
          <li class="submenu"><a href="usermanaged.html">User Managed Caches</a></li>
          <li class="submenu"><a href="107.html">javax.cache aka JSR-107</a></li>
          <li class="submenu"><a href="examples.html">Java Examples</a></li>
          <li class="submenu"><a href="xsds.html">Configuration XSD</a></li>
        </ul>

        General topics:
        <ul class="nav">
          <li class="submenu"><a href="caching-terms.html">Caching Terms</a></li>
          <li class="submenu"><a href="caching-concepts.html">Caching Concepts</a></li>
          <li class="submenu"><a href="caching-patterns.html">Caching Patterns</a></li>
        </ul>

        Advanced topics:
        <ul class="nav">
          <li class="submenu"><a href="expiry.html">Expiry</a></li>
          <li class="submenu"><a href="thread-pools.html">Thread Pools</a></li>
          <li class="submenu"><a href="serializers-copiers.html">Serializers and Copiers</a></li>
          <li class="submenu"><a href="xa.html">Transactions Support</a></li>
          <li class="submenu"><a href="writers.html">Cache Writers</a></li>
          <li class="submenu"><a href="cache-event-listeners.html">Cache Event Listeners</a></li>
          <li class="submenu"><a href="eviction-advisor.html">Eviction Advisors</a></li>
        </ul>
    </div>

    <!-- main area -->

    <div class="col-xs-12 col-sm-9">
      <header class="post-header">
        {% if page.no_title_on_main_layout %} {% else %}
        <h1 class="post-title">{% if page.visible_title %}{{ page.visible_title  | replace: '!DOC_VERSION!', page.ehc_version }} {% else %}{{ page.title  | replace: '!DOC_VERSION!', page.ehc_version }}{% endif %}</h1>
        <hr/>
        {% endif %}
      </header>
      <article class="post-content">
        {{ content  | toc_generate }}
      </article>
    </div>

  </div>

</div>
