---
layout: default
---

<br/>

{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
{% endif %}

<div class="container-fluid">

  <div class="row row-offcanvas row-offcanvas-left">

    <!-- sidebar -->
    <div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      {% if author.avatar %}
      <div>
        <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"></a>
      </div>
      {% endif %}

      {%if author.web %}
      <div class="section">By <span class="fn"><a target="_blank" href="{{ author.web }}">{{ author.name }}</a></span></div>
      {% else %}
      <div class="section">By <span class="fn">{{ author.name }}</span></div>
      {% endif %}

      <div class="section">
        {{ author.position }}
      </div>

      <div class="section entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></div>

      {% if page.modified %}<div class="section entry-date date modified"><time datetime="{{ page.modified }}"><i class="fa fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></div>{% endif %}

      {% if site.disqus_shortname %}<div class="section entry-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Leave a comment</a></div>{% endif %}

      {%if author.twitter %}
      <div class="section">Follow <span class="fn"><a target="_blank" href="{{ author.twitter }}">@{{ author.twitter }}</a></span></div>
      {% endif %}

      <div class="section">{% include social-share.html %}</div>

      <div class="section">Tags: {% for tag in page.tags %}<a href="/tags/#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}</div>

    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <article class="post-content">

        <div class="entry-wrapper">
          <header class="entry-header">
            <h2 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h2>
          </header>

          <div class="entry-content">
            {{ content }}

            {% if site.disqus_shortname %}
            <div id="disqus_thread"></div>
            {% endif %}
          </div>
        </div>

      </article>

    </div>

  </div>

</div>

{% include disqus_comments.html %}
